
	footer.footer {
		background-color: #323626;
		padding-top: 80px;
		padding-bottom: 40px;
		position: relative;
		width: 100%;
		color: white;
		font-size: 12px;
	    font-weight: 400;
	    text-align: center;
	    color: rgba(255,255,255,0.2);
	    a {
	    	color: rgba(255,255,255,0.2);
	    }
	}