
	header.nav {
		position: relative;
		height: 60px;
		line-height: 60px;
		font-size: 14px;
	    text-transform: uppercase;
	    font-weight: 500;
	    background-color:#323626;
	    color: #FFF;
	    text-align: center;
	    box-shadow: 0 0 12px -5px rgba(0,0,0,.75);

	    a {
	    	color: #FFF;
	    }
	}